<!DOCTYPE html>
<html>
<head>
                    <meta charset='utf-8'>
                    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
                    <title>sporty.com</title>
                    <meta name='viewport' content='width=device-width, initial-scale=1'>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    
                    <link rel="stylesheet" href="C:\Users\user\Downloads\Soprtyshoesproject-main\cartEx\src\main\resources\static\css\style.css">
                    <link rel="stylesheet" href="C:\Users\user\Downloads\Soprtyshoesproject-main\cartEx\src\main\resources\static\css\utilities.css">
</head>
<body>
     <div class="navbar">
        <div class="container flex">
            <h1 class="logo">Sporty Shoes</h1>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="Product">Products</a></li>
                    <li><a href="contact">contact</a></li>
                    <li><a href="login">Login</a></li>
                    <li><h3><span sec:authentication="principal.username">>hello: </span></h3></li>
                </ul>
                
            </nav>
        </div>
    </div>

    <div class="img" align="center">
                    <img src="C:\Users\user\Downloads\Soprtyshoesproject-main\cartEx\src\main\resources\static\images\contact.jpg"  width="390px" height="250px" >
               
                    
    </div>

    <footer class="footer bg-dark py-5">
     <div class="container grid grid-3">
         <div>
             <h1 style="color: black;">SportyShoes.com
             </h1>
             <h6 class="xsm">Developed by Shashank</h6>
             <p>Copyright &copy; 2022</p>
         </div>
         <nav >
             <ul>
                 <li><a href="home">Home</a></li>
                 <li><a href="Product">Features</a></li>
                 <li><a href="contact.html">Contact</a></li>
             </ul>
         </nav>
         <div class="social">
             <a href="https://github.com/shashankjavagal" target="_blank"><i class="fab fa-github fa-2x"></i></a>
             <a href="https://www.facebook.com/shashankjavgal/"target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
             <a href="https://www.instagram.com/shashank.javagal/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
             <a href="https://twitter.com/shashankjavgal" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
         </div>
     </div>
</body>
</html>